:root {
     --dark-white: #eae7e7;
     --white: #F5F5F5;
     --lite-blue: #A8DFF1;
     --dark-blue: #3D7C98;
     --blue: #73B0CD;
     --dark-grey: #243946;
}

* {
     font-family: 'Poppins', sans-serif;
}
body{
     background-color: var(--dark-white);
}

#container{
     display: grid;
     grid-template-columns: 70% 1em auto;
     grid-template-rows: auto auto;
}

#tickets-container {
     grid-column-start: 1;
     grid-column-end: 2;
}

#side-nav {
     grid-column-start: 3;
     grid-column-end: 4;
}

@media (max-width: 600px) {
     #container{
          display: grid;
          grid-template-columns: auto;
          grid-template-rows: auto auto auto auto;
     }
     
     #tickets-container {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 3;
          grid-row-end: 5;
     }
     #side-nav {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 1;
          grid-row-end: 3;
     }

     #agents-container, #departments-container{
          display: none;
     }
}

#ticket-list {
     list-style-type: none;
     margin: 0;
     padding: 0;
}

#helper{
     text-align: left;
     margin-top: 1em;
     display: flex;
     gap: 1em;
}

ul{
     list-style-type: none;
}

#search-container{
     text-align: left;
}

#search-container button {
     padding: 0.5em 1em;
     background-color: var(--dark-blue);
     color: var(--white);
     border: none;
     border-radius: 0.3em;
     font-size: 1em;
     cursor: pointer;
     margin-top: 1em;
     transition: 0.25s;
     margin: 1em;
}

#search-container button:hover {
     background-color: var(--dark-grey);
     color: var(--dark-white);
}

#search-bar input[type="text"] {
     width: 90%;
     font-size: 1em;
     padding: 0.5em;
     border: 1.6px solid var(--dark-blue);
     border-radius: 0.5em;
     margin-left: 1em;
     margin-right: 1em;
}

#search-bar input[type="text"]:focus {
     background-color: var(--dark-white);
     border: 2px solid var(--blue);
     outline: none;
}

#search-container h3 {
     color: var(--dark-grey);
     font-size: 1.1em;
     margin: 1em;
}

#filters{
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     gap: .5em;
}

#filters {
     margin-top: 1em;
}
   
#filters select {
     padding: 0.5em;
     font-size: 1em;
     display: block;
     margin: 1em;
     border: 1.6px solid var(--dark-blue);
     border-radius: 0.5em;
     color: #5A5A5A;
}

#filters select:focus {
     background-color: var(--dark-white);
     border: 2px solid var(--blue);
     outline: none;
     color: var(--dark-grey);
}

#filters option {
     font-size: 1em;
}

#agent-list li {
     color: var(--dark-blue);
     font-size: 1em;
     font-weight: bolder;
}

#agent-list li p {
     line-height: 0;
     margin-bottom: 2.2em;
     font-size: 0.85em;
     color: var(--blue);
     font-weight: 400;
     align-items: center;
}

#department-list {
     list-style-type: none;
     font-weight: bolder;
     display: flex;
     flex-direction:column;
     align-items: flex-start;
     padding: 1em;
}

#department-list li {
     color: var(--dark-blue);
     font-size: 0.9em;
     line-height: 2em;
}

.title{
     display: block;
     padding: 0.5em;
     border: 2px solid var(--dark-blue);
     border-radius: 0.5em;
     color: var(--dark-grey);
     background-color: var(--lite-blue);
     font-weight: bold;
     font-size: 1.8em;
     margin: 0;
}

.box {
     margin-top: 1em;
     background-color: var(--white);
     border: 2px solid var(--blue);
     border-radius: 1.5em;
     padding: 1em;
     height: fit-content;
     align-items: center;
}

.box p {
     color: var(--dark-blue);
     font-size: 0.9em;
}

.box strong {
     color: var(--blue);
     font-size: 1em;
}

.priority-box {
     display: inline-block;
     padding: 2px;
     border-radius: 0.3em;
     font-weight: bold;
}
   
.red {
     background-color: #800000;
     color: var(--dark-white);
}
   
.yellow {
     background-color: #DAA520;
     color: var(--dark-white);
}
   
.green {
     background-color: #006400;
     color: var(--dark-white);
}

.link{
     color: var(--dark-blue); 
     font-size: 1.1em;
     font-weight: bold;
     margin-top: 1em;
     border: none;
     background-color: transparent;
}

.link:hover{
     color: var(--dark-grey);
}


/*
#home-container {
     display: grid; 
     grid-template-columns: 65% 17% 15%; 
     grid-template-rows: 38em 6em 1fr; 
     gap: 1.6em 0.8em; 
     grid-template-areas: 
       "tickets-container search-container search-container"
       "tickets-container agents-tittle departments-tittle"
       "tickets-container agents-container departments-container";
}

#names-container {
     display: grid;
     grid-template-columns: 67% 31%;
     gap: 0.7em;
     line-height: 0;
}

#tickets-tittle{
     margin: 3em 0em 0.5em 3em;
     padding: 1.1em;
     border: 2px solid var(--dark-blue);
     border-radius: 0.5em;
     color: var(--dark-grey);
     background-color: var(--lite-blue);
     font-weight: bold;
     font-size: 1.8em;
     align-items: center;
}

#search-tittle {
     margin: 3em 0em 0.5em 0em;
     padding: 1.1em;
     border: 2px solid var(--dark-blue);
     border-radius: 0.5em;
     color: var(--dark-grey);
     background-color: var(--lite-blue);
     font-weight: bold;
     font-size: 1.8em;
}

#agents-tittle{
     grid-area: agents-tittle;
     margin: 1em 0em 0em 1em;
     padding: 1em;
     border: 2px solid var(--dark-blue);
     border-radius: 0.5em;
     color: var(--dark-grey);
     background-color: var(--lite-blue);
     font-weight: bold;
     font-size: 1.8em;
     display: flex;
     justify-content: center;
     align-items: center;
}

#departments-tittle{
     grid-area: departments-tittle;
     margin-top: 1em;
     padding: 1.13em;
     border: 2px solid var(--dark-blue);
     border-radius: 0.5em;
     color: var(--dark-grey);
     background-color: var(--lite-blue);
     font-weight: bold;
     font-size: 1.8em;
     display: flex;
     justify-content: center;
     align-items: center;
}

#tickets-container {
     grid-area: tickets-container;
     margin-left: 1em;
     grid-column: 1;
     width: 100%;
}
   
#agents-container {
     margin-left: 1.8em;
     margin-bottom: 1em;
     grid-area: agents-container;
     border: 2px solid var(--blue);
     border-radius: 1.5em;
     background-color: #ececec;
     align-items: center;
     height: fit-content;
}
   
#departments-container {
     grid-area: departments-container;
     border: 2px solid var(--blue);
     border-radius: 1.5em;
     height: fit-content;
     background-color: #ececec;
     margin-bottom: 1em;
}
   
#tickets-container, #agents-container, #departments-container {
     padding: 0.8em;
}

body {
     background-color: var(--dark-white);
}

h2 {
     font-size: 2.1em;
     color: var(--dark-blue);
     margin-top: 2.8em;
     font-weight: bolder;
}



.link{
     color: var(--dark-blue); 
     font-size: 1.1em;
     font-weight: bold;
     margin-top: 1em;
     border: none;
     background-color: transparent;
}

.link:hover{
     color: var(--dark-grey);
}

.ticket-box {
     background-color: var(--white);
     border: 2px solid var(--lite-blue);
     border-radius: 1.5em;
     padding: 0.2em 1.5em 0.2em 1.5em;
     margin-bottom: 1em;
     margin-left: 3.7em;
     max-width: 100%;
}

.ticket-box h3 {
     color: var(--dark-blue); 
     font-size: 1.1em;
     font-weight: bold;
     margin-top: 1.2em;
}

.ticket-box p {
     color: var(--dark-blue);
     font-size: 0.9em;
}

.ticket-box strong {
     color: var(--blue);
     font-size: 1em;
}

#agent-list {
     list-style-type: none;
     margin: 0;
     padding: 2em 1.2em 0.8em 0em;
}



#agent-list li {
     font-size: 1em;
     margin-left: 0.5em;
}

#agent-list li p {
     font-size: 0.7em;
}

p {
     line-height: 1.3em;
}

.priority-box {
     display: inline-block;
     padding: 2px;
     border-radius: 0.3em;
     font-weight: bold;
}
   
.red {
     background-color: #800000;
     color: var(--dark-white);
}
   
.yellow {
     background-color: #DAA520;
     color: var(--dark-white);
}
   
.green {
     background-color: #006400;
     color: var(--dark-white);
}

#search-container {
     grid-area: search-container;
     margin-top: 0.8em;
     margin-left: 1.8em;
     background-color: var(--white);
     border: 2px solid var(--blue);
     border-radius: 1.5em;
     padding: 1.3em;
     height: fit-content;
     align-items: center;
}
   
#search-bar input[type="text"] {
     width: 95%;
     font-size: 1em;
     padding: 0.5em;
     border: 1.6px solid var(--dark-blue);
     border-radius: 0.5em;
}

#search-bar input[type="text"]:focus {
     background-color: var(--dark-white);
     border: 2px solid var(--blue);
     outline: none;
}
   

#search-bar {
     margin: 1em;
}
   
#search-container button {
     padding: 0.5em 1em;
     background-color: var(--dark-blue);
     color: var(--white);
     border: none;
     border-radius: 0.3em;
     font-size: 1em;
     cursor: pointer;
     margin-top: 1em;
     transition: 0.25s;
     margin: 1em;
}

#search-container button:hover {
     background-color: var(--dark-grey);
     color: var(--dark-white);
}
   
#filters {
     margin-top: 1em;
     align-items: center;
     gap: 1em;
}
   
#filters select {
     padding: 0.5em;
     font-size: 1em;
     display: block;
     margin: 1em;
     border: 1.6px solid var(--dark-blue);
     border-radius: 0.5em;
     color: #5A5A5A;
}

#filters select:focus {
     background-color: var(--dark-white);
     border: 2px solid var(--blue);
     outline: none;
     color: var(--dark-grey);
}

#filters option {
     font-size: 1em;
}

#search-container h3 {
     color: var(--dark-grey);
     font-size: 1.1em;
     margin: 1em;
}



@media screen and (max-width: 95vh) {
     #agents-tittle,
     #departments-tittle,
     #agents-container,
     #departments-container {
          display: none;
     }
}*/